[Unit]
Description=Temperature monitor
After=network-online.target local-fs.target

[Service]
ExecStart=/usr/local/bin/temper --server /etc/temper.json

[Install]
WantedBy=multi-user.target
