[Unit]
Description=Temperature monitor
After=network-online.target local-fs.target

[Service]
ExecStart=/usr/local/bin/temper --server /etc/temper.json
CapabilityBoundingSet=
RestrictNamespaces=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
SystemCallArchitectures=native
SystemCallFilter=@system-service
LockPersonality=true
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
